## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp(F),Current Description,Lat,Lng,Hotel Name
0,1,Kapaa,US,74.12,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,6,Rikitea,PF,70.59,moderate rain,-23.1203,-134.9692,People ThankYou
2,9,Port Hedland,AU,73.45,overcast clouds,-20.3167,118.5667,The Esplanade Hotel
3,12,Taloqan,AF,69.67,scattered clouds,36.7361,69.5345,Saraisang street
4,25,Pacific Grove,US,66.34,haze,36.6177,-121.9166,Lovers Point Inn

In [4]:
# 2. Using the template add the city name, the country code, the weather description 
# and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp(F)</dt><dd>{Max Temp(F)} </dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp(F)"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Mackay")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Mackay")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Mount Isa")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Mareeba")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Bowen")]

In [25]:
vacation_start.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp(F)            float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the
# to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING',
        stroke_weight=3.0)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp(F),Current Description,Lat,Lng,Hotel Name
0,77,Mackay,AU,67.68,light rain,-21.1500,149.2000,International Lodge Motel
1,35,Mount Isa,AU,65.97,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,365,Mareeba,AU,69.44,few clouds,-17.0000,145.4333,Trinity Plains Tourist Park
3,81,Bowen,AU,70.72,broken clouds,-20.0167,148.2333,Castle Motor Lodge Motel

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp(F)</dt><dd>{Max Temp(F)} </dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))